%article.about
  = render 'about'

%article.speakers
  %h1 Speakers
  = render 'speakers'

%article.agenda
  %h1 Agenda
  #agenda_area

%article.supporters
  %h1 Supporters
  = render 'supporters'

.bottom_column
  %article.partners
    %h1 Partners
    = render 'partners'

%article.twitter
  = render 'twitter'

.clear
%article.coc
  = render 'coc'
