!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta{:property => "og:title", :content => 'wroc_love.rb - March 11-13th 2016'}
    %meta{:property => "og:type", :content => 'website'}
    %meta{:property => "og:image", :content => 'http://wrocloverb.com/images/wroclove-logo-rect.png'}
    %meta{:property => "og:url", :content => 'http://wrocloverb.com/'}
    %meta{:property => "og:description", :content => 'wroc_love.rb is a Ruby conference organized by the community that aims to confront ideas in a friendly atmosphere.'}
    %title wroc_love.rb 2016 - Wrocław, Poland - The Ruby conference where ideas are being confronted
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css", :media => "screen"}

    = render 'analytics'
    = render 'speakers'
    = render 'supporters'
    = render 'partners'
    = render 'organizers'
    = render 'error'

  %body
    %header#top
      .container
        %h1.logo
          %img{:src => '/images/logo.png', :alt => 'wroc_love.rb'}
        %nav.topnav
          %ul.horizontal
            %li
              %a.tickets{:href => 'https://billetto.eu/en/events/wroc_loverb-2016/tickets'} Buy tickets
            %li
              %a.newsletter{:href => 'http://eepurl.com/iaSvw', :target => '_blank'} Newsletter
            %li
              %a.twitter{:href => 'https://twitter.com/wrocloverb'} Follow us
            %li
              %a.email{:href => 'mailto:all@wrocloverb.com'} Email us
        %h2.info
          March 11-13th 2016
          %br
          Wrocław
          %strong Poland

        %ul.actions.horizontal

    %section.main_section.container
      = yield

    %footer
      .container
        %article.location
          %h1 Location
          .map_container
            .map

        %nav.bottomnav
          %ul.horizontal
            %li
              %a{:href => '#top'}
                %img{:src => '/images/logo-small.png', :alt => 'wroc_love.rb'}
            %li
              %a{:href => 'http://eepurl.com/iaSvw', :target => '_blank'} Newsletter
            %li
              %a{:href => 'https://twitter.com/wrocloverb'} Follow us
            %li
              %a{:href => 'mailto:all@wrocloverb.com'} E-mail us
      .container
        %p.designed
          design from
          %a{:href => 'http://monterail.com'}
            %img{:src => '/images/logo-monterail.png'}
          with love
